@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

.card-image {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 150px;
    overflow: hidden;
    img {
        object-fit: cover;
        position: relative;
        bottom: 50%;
        left: 0;

        // object-fit: cover;
        // width: 350px;
        // height: 200px;
    }
}

.tt-search-box-input-container {
    padding: 0;
    border-radius: 5px;
}
